---
import { DEFAULT_LANG, type Lang } from '../../i18n/langs'
import I18nKey from '../../i18n/i18nKey'
import { i18n } from '../../i18n/translation'
import { getTagList } from '../../utils/content-utils'
import { localizedUrl } from '../../utils/url-utils'
import ButtonTag from '../control/ButtonTag.astro'
import WidgetLayout from './WidgetLayout.astro'

interface Props {
  class?: string
  style?: string
  lang?: Lang
}
const className = Astro.props.class
const style = Astro.props.style
const lang: Lang = Astro.props.lang ?? DEFAULT_LANG

const tags = await getTagList(lang)

const COLLAPSED_HEIGHT = '7.5rem'

const isCollapsed = tags.length >= 20
---
<WidgetLayout name={i18n(I18nKey.tags, lang)} id="tags" isCollapsed={isCollapsed} collapsedHeight={COLLAPSED_HEIGHT} class={className} style={style} lang={lang}>
    <div class="flex gap-2 flex-wrap">
        {tags.map(t => (
            <ButtonTag href={localizedUrl(`/archive/tag/${t.name}/`, lang)} label={`View all posts with the ${t.name} tag`}>
                {t.name}
            </ButtonTag>
        ))}
    </div>
</WidgetLayout>
